<h3 style="font-weight: bold;">Forum Posts Requests for Approval</h3>

<table class="table table-striped">
	<thead style="font-weight: bold;">
		<tr>
			<td>Question</td>
			<td>Posted By</td>
			<td>Posted On</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="query in postsForApproval">
			<td><a style="text-decoration: none;" href="#!viewquery/{{query.questionId}}">{{query.question | limitTo:30}}...</a></td>
			<td>{{query.username}}</td>
			<td>{{query.postedOn | date:dd/MM/yyyy}}</td>
			<td><a ng-click="changeQueryStatus(query.questionId)" class="btn btn-sm btn-success"><i class="fa fa-check"></i></a></td>
		</tr>
	</tbody>
</table>