<h4>User Requests for Approval</h4>

<table class="table table-striped">
	<thead>
		<tr>
			<td>User Name</td>
			<td>User Email</td>
			<td>First Name</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody ng-repeat="user in userRequests">
		<tr>
			<td>{user.userName}</td>
			<td>{user.mailId}</td>
			<td>{user.firstName}</td>
			<td><button ng-click="approveUser()" class="btn btn-sm btn-success"><i class="fa fa-check" style="color: white"></i></button></td>
		</tr>
	</tbody>
</table>