<div class="container">
<div class="alert alert-success col-xs-6 col-xs-offset-3 text-center" id="notify" role="alert" ng-if="notify != null" ng-animate="{enter: 'fade', leave: 'fade'}">{notify}</div>

	<form class="form-horizontal">
		<div style="margin-top: 50px;"
			class="mainbox col-xs-6 col-xs-offset-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div style="font-size: 25px;" class="panel-title">Sign Up</div>
					<div
						style="float: right; font-size: 80%; position: relative; top: -10px">
						Already have an Account? <a href="#!login"> SignIn</a>
					</div>
				</div>

				<div style="padding-top: 30px" class="panel-body">

					<div style="display: none" id="login-alert"
						class="alert alert-danger col-sm-12"></div>
					<div class="form-group">
						<label class="col-xs-3 control-label">UserName</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="userName"
								ng-model="user.userName" placeholder="User Name">
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="col-xs-3 control-label">Email</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="emailId"
								ng-model="user.mailId" placeholder="Email Address">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-xs-3 control-label">Password</label>
						<div class="col-xs-9">
							<input type="password" class="form-control" id="password"
								ng-model="user.password" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-xs-3 control-label">First
							Name</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="firstName"
								ng-model="user.firstName" placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<label for="lastname" class="col-xs-3 control-label">Last
							Name</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="lastName"
								 ng-model="user.lastName" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<!-- Button -->
						<div class="col-xs-offset-5 col-xs-2 col-xs-offset-5">
							<button type="submit" class="btn btn-info" ng-click="registerUser()">
								<span class="icon-hand-right"></span> Sign Up
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>