<div ng-controller="QueAnsController">
	<h3 style="padding-left: 10px;">
		List of Queries <a style="margin-left: 20px; float: right;"
			class="btn btn-sm btn-primary text-right" data-toggle="modal"
			data-target=".bs-example-modal-md"> <i class="fa fa-plus"> </i>
			Your Query
		</a>
	</h3>
	<hr>
	<!-- Modal Form -->
	<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Post Your Query</h4>
				</div>
				<div class="modal-body">
					<form name="fpost">
						<div class="row">
							<div class="form-group col-md-10 col-md-offset-1">
								<label for="recipient-name" class="control-label">Username:</label>
								<input type="text" class="form-control"
									ng-model="quest.username" ng-value="name"
									ng-init="quest.username = name">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-10 col-md-offset-1">
								<label for="recipient-name" class="control-label">EmailId:</label>
								<input type="text" class="form-control" ng-model="quest.emailid"
									ng-value="mail" ng-init="quest.emailid = mail">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-10 col-md-offset-1">
								<label for="message-text" class="control-label">Query:</label>
								<textarea id="question" class="form-control"
									ng-model="quest.question" required></textarea>
								<span
									ng-show="(fpost.question.$dirty || fpost.question.$touched) && fpost.question.$invalid">Question
									cannot be empty</span>
							</div>
						</div>
						<div class="row">
							<div
								class="form-group text-center col-md-offset-4 col-md-4 col-md-offset-4">
								<button class="btn btn-success" ng-click="submitQuery()"
									ng-disabled="fpost.$invalid" data-dismiss="modal">Post
									Query</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Form -->
	<input class="form-control form-inline" placeholder="Search...." style="width:300px; margin-left: 150px;margin-bottom: 30px;" ng-model="question">
	<table style="width:1100px;  margin:0px 100px; line-height:100%;" class="table table-bordered table-striped col-sm-10 img-rounded"> 
		<thead style="background-color: #3385ff;color:#ffffff;font-weight:600;">
			<tr class="text-center">
				<td style="width: 500px;">Forum Post</td>
				<td>Posted By</td>
				<td>Email Id</td>
				<td style="width: 100px;">Posted On</td>
				<td style="width: 50px;">Threads</td>
			</tr>
		</thead>
		<tbody >
			<tr style="margin-bottom:0px;"  ng-repeat="query in queries | filter:question">
				<td style="width: 500px; font-weight: 500;font-size: 20px;"><a style="text-decoration: none;" href="#!viewquery/{{query.questionId}}">{{query.question | limitTo:30}}...</a></td>
				<td class="text-center">{{query.username}}</td>
				<td class="text-center">{{query.emailid}}</td>
				<td class="text-center" style="width: 100px;">{{query.postedOn | date:"dd/MM/yyyy"}}</td>
				<td class="text-center" style="width: 50px;">{{query.noOfAns}}</td>
			</tr>
		</tbody>
	</table>
	<!-- List of queries -->
</div>